HTML {
    background: -webkit-linear-gradient(#FFC4C4, #FD9E9D, #FD7D7D);
    height: 100%;
}

body {
    font-family: "arial";
}

.container {
    background-color: white;
    box-shadow: 0 0 20px rgb(160, 154, 154);
    min-height: 300px;
    margin: auto;
    text-align: center;
    width: 720px;
}

h1 {
    font-family: "Times New Roman', Times, serif";
    font-size: 0;
}

h1:after {
    color: black;
    content: "My ToDo";
    display: block;
    font-size: 70px;
    margin-top: 20px;
}

.done {
    font-family: "arial";
    font-size: 20px;
    margin-bottom: 40px;
    padding-top: 0;
}

.done::after {
    content: " completed";
}

input {
    font-size: 26px;
    height: 34px;
    vertical-align: middle;
    width: 310px;
}

input:focus {
    outline-color: blue;
}

button {
    font-size: 30px;
    vertical-align: middle;
}

small {
    display: block;
    margin-top: 8px;
    padding-left: 33px;
    color: rgb(173, 11, 11);
    font-size: 20px;
    font-style: italic;
}

.container {
    animation: flyIn 1s;
}

@keyframes flyIn {
    0% {
    top: -700px;
    }
        
    50% {
        top: 60px;
    }
    
    100% {
        top: 0px;
    }
}

h1, .done, input, button,.chCss {
    animation: fadeIn 2s;
}

@keyframes fadeIn {
    0% {
        opacity: 0%;
    }

    50% {
        opacity: 0%;
    }

    100% {
        opacity: 100%;
    }
}



.chCss {
    position: relative;
    transform: translateY(150px);
}

.toDos {
    display: none;
}

.clear {
    display: none;
}