HTML {
    background: -webkit-linear-gradient(#FFC4C4, #FD9E9D, #FD7D7D);
    height: 100%;
}

body {
    font-family: "arial";
}

.container {
    background-color: white;
    box-shadow: 0 0 20px rgb(160, 154, 154);
    min-height: 300px;
    margin: auto;
    position: relative;
    text-align: center;
    width: 720px;
}

/* A fix to have other headline then my earlier projects */
h1 {
    font-family: "Times New Roman', Times, serif";
    font-size: 0;
}

h1:after {
    color: black;
    content: "My ToDo";
    display: block;
    font-size: 70px;
    margin-top: 20px;
}

/* counter for completed items, fix for other text in previos projects */
.done {
    font-family: "arial";
    font-size: 20px;
    margin-bottom: 40px;
    padding-top: 0;
}

.done::after {
    content: " completed";
}

input {
    font-size: 26px;
    height: 34px;
    vertical-align: middle;
    width: 310px;
}

input:focus {
    outline-color: blue;
}

button {
    border-radius: 4px;
    font-size: 26px;
    height: 40px;
    vertical-align: middle;
    width: 60px;
}

small {
    color: #EA1518;
    display: block;
    font-size: 20px;
    font-style: italic;
    margin-top: 8px;
    padding-left: 33px;
}

ul {
    font-size: 36px;
    list-style: none;
    margin-top: 10px;
    margin-bottom: 0px;
    padding: 17px;
    text-align: center;
}

li {
    margin-bottom: 12px;
}

.completed > :nth-last-child(2) {
    text-decoration: line-through;
}

.trashcan {
    background: url(rtc.png);
    background-repeat: no-repeat;
    color: transparent;
    position: relative;
    right: -20px;
    top: 10px;
}

.trashcan:hover {
    cursor: pointer;
}

/* Animations */

/* The background container flies in from top */
.container {
    animation: flyIn 1s;
}

@keyframes flyIn {
    0% {
    top: -700px;
    }
        
    50% {
        top: 60px;
    }
    
    100% {
        top: 0px;
    }
}

/* The objects in the container fades in */
h1, .done, input, button,.chCss {
    animation: fadeIn 2s;
}

@keyframes fadeIn {
    0% {
        opacity: 0%;
    }

    50% {
        opacity: 0%;
    }

    100% {
        opacity: 100%;
    }
}

/* The list-elements comes in from bottom up */
li {
    animation: flyUp 0.5s;
    position: relative;
}

@keyframes flyUp {
    0% {
        top: 20px;
    }
    
    100% {
        top: 0px;
    }
}

/* If klick with empty input, varning flashes */
small:not(:empty) {
    animation: flash 1s;
}

@keyframes flash {
    0% {
        color:#EA1518;
    }

    20% {
        color: white;
    }

    40% {
        color:#EA1518;
    }

    60% {
        color: white;
    }

    100% {
        color:#EA1518;
    }
}

/* When list object is marked as completed, the text fades to gray */
.completed {
    transition: color 1s 0.3s;
}

.completed {
    color: grey;
}



/* Objects from my previous project */
.chCss {
    position: static;
    transform: translateY(80px);
}

.chCss a {
    color: #FD7D7D;
    margin-left: 20px;
    text-decoration: none;
    text-shadow: 1px 1px 2px black;
}

.toDos {
    display: none;
}

.clear {
    display: none;
}