body {
    background-image: url("cbg.png");
    background-repeat: repeat-y;
    background-position: center;
    font-family: "Trebuchet MS", "sans-serif", "system-ui", "Arial";
    text-align: center;
    font-size: 14px;
}

.logo {
    background-image: url("clogo.png");
    background-repeat: no-repeat;
    background-size: 500px;
    height: 100px;
    margin: auto;
    margin-top: 50px;
    width: 500px;
}

h1 {
    color: transparent;
    margin-top: 0;
}

h1:after {
    color: black;
    content: "JavaScript NoToDo App";
    display: block;  
    font-size: 22px;
    margin-top: 0;
    text-align: center;
}

.inBtn {
    background: white;
    border-radius: 3px;
    height: 58px;
    margin: auto;
    max-width: 500px;
    text-align: right;
    transform: translate(0px, 0px);
}

.inBtn::before {
    color: gray;
    content: "New ToDo ...";
    float: left;
    left: 20px;
    position:relative;
    top: 22px;
}

input {
    background: transparent;
    border: 0;
    float: left;
    height: 20px;
    left: -60px;
    position: relative;
    top: 20px;
    width: 70%;
}

input:focus {
    background: white;
    outline: none;
}

button {
    background: url(cbtn.png);
    background-repeat: no-repeat;
    border: 0;
    color: transparent;
    height: 50px;
    max-width: 38px;
    position: relative;
    right: 8px;
    top: 5px;
}

.toDolist {
    background-color: white;
    border-radius: 3px;
    margin: auto;
    max-width: 500px;
    min-height: 370px;
    top: 25px;
}

ul {
    list-style: none;
    padding: 17px;
    text-align: left;
}

ul :nth-last-child(odd) {
    opacity: 60%;
}

li {
    border-bottom: 1px solid lightgray;
    border-width: 95%;
    height: 60px;
    line-height: 70px;
    max-width: 99%;
}

.completed > span:nth-child(1) {
    color: #888;
    text-decoration: line-through;
}

li > span:nth-child(2) {
    background: url(ctc.png);
    background-repeat: no-repeat;
    bottom: 70px;
    color: transparent;
    cursor: pointer;
    display: block;
    position: relative;
    right: -94%;
    top: -55px;
}

small {
    color: red;   
    display: block;
    position: relative;
    text-align: center;
    transform: translate(0px, -80px);
}

.toDos { 
    display: none;
}

.done {
    color: grey;
    margin: auto;
    position: relative;
    text-align: left;
    transform: translate(18px, 422px);
    width: 500px;
}

.done::after {
    content: " : ToDos done";
}

.reload {
    margin: auto;
    position: relative;
    width: 500px;
}

.clear {
    color: gray;
    float: right;
    text-decoration: none;
    transform: translate(-50%, -36px);
}

.chCss {
    margin: auto;
    transform: translateY(-25px);
    width: 500px;
}

.chCss a {
    color: gray;
    font-size: 12px;
    padding: 25px;
    position: relative;
    right: -20px;
    top: 50px;
}