body {
  background-color: #f1c16e;
  background-image: url("wood.png");
  color: rgb(252, 252, 252);
  font-family: "Lucida Handwriting", "Comic sans MS", "Brush Script MT", "Arial";
  margin: auto;
  text-align: center;
}

.container {
  margin: auto;
  width: 400px;
}

h1 {
  color: transparent;
  font-size: 27px;
  margin: auto;
  transform: translate(0, 208px);
  transition: color 3s;
  width: 400px;
}

h1 {
  color: rgb(20, 6, 145);
}

.toDolist {
  background-image: url("notepad.png");
  background-color: transparent;
  background-repeat: no-repeat;
  box-shadow: 10px 20px 20px black;
  color: rgb(20, 6, 145);
  Height: 518px;
  line-height: 34.6px;
  margin: auto;
  margin-bottom: 15px;
  width: 337px;
}

ul {
  font-size: 15px;
  height: 34.5px;
  list-style: none;
  margin: auto;
  padding-left: 0px;
  position: relative;
  text-align: center;
  transform: translate(0, 110px);
  width: 200px;
}

li {
  color: transparent;
  transition: color 6s;
}

li {
  color: rgb(20, 6, 145);
}

li:hover {
  text-shadow: 1px 1px 2px white;
}

.completed >span:nth-child(1) {
  color: #888;
  text-decoration: line-through;
}

.trashcan {
  font-size: 22px;
  color: gray;
  cursor: pointer;  
  margin-left: 10px;
  vertical-align: middle;
}

.trashcan:hover {
  color: red;
  font-size: 26px;
  text-shadow: 0px 0px 0px white;
  vertical-align: middle;
}

.reload {
  display: none;
}

small {
  color: white;
  display: block;
  position: absolute;
  margin-bottom: 5px;
  text-shadow: -5px -5px 10px;
  transform: translate(90px, -95px);
  transition: color 5s;
}

small::after {
  color: red;
  display: block;
  margin-bottom: 5px;
  text-shadow: -5px -5px 10px;
}

.inBtn {
  margin: auto;
  max-width: 337px;
  position: relative;
  transform: translateY(-50px);
}

input {
  background-color: white;
  border: 0px;
  border-radius: 2px;
  box-shadow: 2px 2px 4px;
  color: black;
  height: 20px;
  text-align: center;
  width: 70%;
}

button {
  box-shadow: 0 0 10px;
  margin-top: 15px;
}

.counter {
  margin: auto;
  transform: translateY(50px);
  width: 300px;
}

.toDos {
  display: inline-block;
  height: 30px;
  width: 130px;
}

.toDos:after {
  content: " uppgift(er)";
}

.done {
  display: inline-block;
  height: 30px;
  width: 150px;
}

.done:after {
  content: " utförd(a)";
}

.chCss {
  margin: auto;
  margin-top: 50px;
  width: 400px;
}

.chCss a {
  color: white;
  font-size: 12px;
  margin: auto;
  padding: 15px;
}